.userimage {
  margin-left: 30%;
  width: 50%;
  height: 40%;
  border-radius: 50%;
}

.kappa {
  text-align: center;
}

.data{
  margin-top: 30px;
  text-align: center;
}

.email{
  text-align: center;
}

.Buttons{
  margin-left: 20%;
  margin-top: 30px;
}

.sobre {
  margin-top: 30px;
  margin-left: 3%;

}

.xp {
   
   margin-left: 3%;
   background-color: blueviolet;
}

.atual{
  margin-top: 30px;
}

.tecnico{
  color: orangered;
}

.text{
  color: white;
}

.dc {
  color: gainsboro;
}

.padding{
  margin-top: 30px;
}

.dcc{
  color: darkgray;
  margin-bottom: 30px;
}

.foot {
  background-color: blueviolet;
  padding: 10%;
  text-align: center;
  color: gainsboro;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

